.container {
  background: #D9D9D9;
  min-height:100vh;
}

.titulo-principal {
  color: #1E1E1E;
  font-size: 2rem;
  margin-top: 2.25rem;
  padding-right: 0;
  font-weight: bold;
}

.video {
  width: 80%;
  max-width: 37.5rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
}

.secao-conteudo {
  color: #1E1E1E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-secao {
  text-align:center;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.cartoes {
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.cartao {
  width: 15.625rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  padding: 0.9375rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  text-align: center;
  background:#ffffff;
}

.imagem-cartao {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.titulo-cartao {
  font-size: 1.2rem;
  margin: 0.625rem 0;
}

.descricao-cartao {
  text-decoration: none;
  font-size: 0.9rem;
  color: #555;
}

.descricao-cartao:hover {
  text-decoration: underline;
}