.card {
    border: #FFFFFF;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: row;
}
.card img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.6rem;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.textosCard {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cardh1 {
    margin-left: 0.25rem;
    color: black;
    font-size: 1.25rem;
    padding: 0 0;
    text-align: left;
}
.textosCard small {
    margin-left: 0.25rem;
    color: black;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Montserrat Alternates";
    text-align: left;
}
